
body {
    background-color: (204,220,255);
	padding: 0;
	margin: 0;
	text-align: center;
	font-family: Arial;
	font-size: 24px;
}

.word

{
    color: rgb(230, 238, 255);

}


.word2

{
	color: rgb(230, 238, 255);
	font-size: xx-small;

}
